
    server{
    listen 0.0.0.0:80;
    listen [::]:80;
    default_type application/octet-stream;

    gzip                    on;
    gzip_comp_level         6;
    gzip_vary               on;
    gzip_min_length         1000;
    gzip_proxied            any;
    gzip_types              text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers            16 8k;
    client_max_body_size    256M;

    root /usr/share/nginx/html;
        
         location /assets/toDoApp/ {
         #proxy_pass http://172.17.0.1:30006/assets/;
         proxy_pass http://172.17.0.1:${remoteA}/assets/;
         }

          location /assets/usersApp/ {
         #proxy_pass http://172.17.0.1:30008/assets/;
        proxy_pass http://172.17.0.1:${remoteB}/assets/;

         }


        location /assets/ {
         autoindex on;
        }

        location / {
        try_files $uri $uri/ $uri/index.html =404;
        }
        error_page  404              /index.html;

    }
