apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: your-email@example.com
    privateKeySecretRef:
      name: letsencrypt-prod-key #It tells cert‑manager where to store the ACME account private key (used to talk to Let’s Encrypt).
    solvers:
    - http01:
        ingress:
          class: nginx
