name: Build-Deploy-Shell-App

# workflow_dispatch ensures we have manual trigger of workflow and we can provide user input details as well
on: 
 workflow_dispatch:
   inputs:
     environment:
        type: choice
        description: "Specify the environment"
        options:
          - dev
        required: true
        default: 'dev'
      
     version:
       description: "Specify the version of the helm artifacts"
       required: true
       

env:
 TAG: ${{ github.run_id }} 

jobs:
  build-and-deploy:
       runs-on: ubuntu-latest
       permissions: 
         id-token: write # required for OIDC 
         contents: read # required for actions/checkout

       env:
        var2: This is job level env var accessible in all steps

       steps:
          - name: Checkout repository
            uses: actions/checkout@v4 
            env:
             var3: This is step level env var accessible only in this step  
        
          - name: Login to DockerHub
          # executed only for dev
            if: ${{ github.event.inputs.environment == 'dev' }}
            uses: docker/login-action@v3
            with:
              username: ${{vars.DOCKERHUB_USERNAME}}
              password: ${{secrets.DOCKERHUB_PASSWORD}}
              # added the dockerhub username as repo variable and password as repo secret


          - name: Build Docker image for shell angular app
          # executed only for dev
            if: ${{ github.event.inputs.environment == 'dev' }}
            uses: docker/build-push-action@v5
            with:
              push: true  # so that image is pushed to Dockerhub as well
              context: .   # this ensures the paths in the Dockerfile work as expected
              file: ./docker/Dockerfile  # this ensures the Dockerfile is located in the correct folder
              tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.TAG}}
              build-args: |
                  targetENV=${{github.event.inputs.environment }}

  
  helm-upgrade:
    needs: build-and-deploy  # execute in sequence. The build-and-deploy job needs to complete first
    permissions:  # these are required for azure login
         id-token: write # required for OIDC 
         contents: read # required for actions/checkout
    uses: ./.github/workflows/chart-deploy.yml  # path to the workflow to be executed
    with:  # input parameters to be passed
      image_tag: ${{ github.run_id }} 
      chart_version: ${{ github.event.inputs.version }}
      environment: ${{ github.event.inputs.environment }}
    secrets: inherit  # github secrets can be inherited from the current workflow. v.imp for secrets to work in the called workflow

                           

