name: Build and Deploy the Shell Angular App

# workflow_dispatch ensures we have manual trigger of workflow and we can provide user input details as well
on: 
 workflow_dispatch:
   inputs:
     environment:
        type: choice
        description: "Specify the environment(dev,uat or prod)"
        options:
          - dev
          - prod
          - uat
        required: true
        default: 'dev'
      
     tag:
      description: "Specify the docker image tag to be pulled for prod"
      required: false
     
     version:
       description: "Specify the version of the helm artificats"
       required: true
       

env:
 TAG: ${{ github.run_id }} 

jobs:
  build-and-deploy:
       runs-on: ubuntu-latest
       permissions: 
         id-token: write # required for OIDC 
         contents: read # required for actions/checkout

       env:
        var2: This is job level env var accessible in all steps

       steps:
          - name: Checkout repository
            uses: actions/checkout@v4 
            env:
             var3: This is step level env var accessible only in this step  
        

          - name: Validate PROD inputs
          # for prod deployments the tag input from the user must not be empty. -z does the empty string check
            run: |
             if [[ "${{ github.event.inputs.environment }}" == "prod" && -z "${{ github.event.inputs.tag }}" ]]; then
             echo "ERROR: tag is required for PROD deployments"
             exit 1
             fi
          
          - name: Set conditional env
          # for prod we overwriting the value of the tab env variable to the tag input provided by the user.
            run: |
             if [[ "${{ github.event.inputs.environment }}" == "prod" ]]; then
             echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
             fi

          # - name: Login to DockerHub
          # # executed only for dev
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   uses: docker/login-action@v3
          #   with:
          #     username: ${{vars.DOCKERHUB_USERNAME}}
          #     password: ${{secrets.DOCKERHUB_PASSWORD}}
          #     # added the dockerhub username as repo variable and password as repo secret


          # - name: Build Docker image for express app
          # # executed only for dev
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   uses: docker/build-push-action@v5
          #   with:
          #     push: true  # so that image is pushed to Dockerhub as well
          #     context: .   # this ensures the paths in the Dockerfile work as expected
          #     file: ./docker/Dockerfile  # this ensures the Dockerfile is located in the correct folder
          #     tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.TAG}}

          - name: Azure CLI Upgrade
            run: |
              az upgrade --yes
              az version
          
          - name: Azure Login
            uses: azure/login@v2.3.0
            with:
               client-id: ${{ secrets.AZURE_APP_CLIENT_ID }}
               tenant-id: ${{ secrets.AZURE_TENANT_ID }}
               subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
               auth-type: federated
          
          # - name: Set AKS context 
          #   uses: azure/aks-set-context@v3 
          #   with: 
          #     resource-group : myResourceGroup 
          #     cluster-name: myAKSCluster

          # - name : Create Namespace and Set context
          #   run: |
          #      kubectl create namespace ${{ github.event.inputs.environment }}-namespace --dry-run=client -o yaml | kubectl apply -f -
          #      kubectl config set-context --current --namespace=${{ github.event.inputs.environment }}-namespace

          # - name: Helm package
          #   if: ${{ github.event.inputs.environment == 'dev' }}
          #   run : |
          #      helm package --version=${{ github.event.inputs.version }} ./charts/angular-shell-app-module-federation/


          # - name: Helm Upgrade
          #   run: |

          #      helm upgrade ${{vars.APP_NAME}}-release ./angular-shell-app-module-federation-${{ github.event.inputs.version }}.tgz \
          #      --install --debug --values ./charts/angular-shell-app-module-federation/values.yaml \
          #      --set pod.imageName=${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.TAG}}  \
          #      --set environment=${{ github.event.inputs.environment }} \
          #      --set hostName=${{ github.event.inputs.environment }}.${{vars.AZURE_INGRESS_DOMAIN}}
          #      --set pod.ingressPort=${{vars.AZURE_INGRESS_PORT}}


                           

